<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Eric Tao's Portfolio</title>
        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
        <link rel="stylesheet" href="{% static 'css/second_nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/teams.css' %}">
        <link rel="stylesheet" href="{% static 'css/downloads.css' %}">
        <link rel="stylesheet" href="{% static 'css/seasons.css' %}">
        <link rel="stylesheet" href="{% static 'css/leagues.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="main">
            <ul class="home-btns">
                <li class="home-btn"><a href="{% url 'index' %}">Home</a></h1>
                <li><a href="{% url 'sports:index' %}">Download Sports Stats</a></li>
            </ul>

            {% load sports_extra %}
            <p class="current-site">
                {% lower league.name as lower_league %}
                {% lower team.name as lower_team %}
                {% if season %}
                    <a href="{% url 'sports:team' lower_league lower_team %}">{% clean_name team %}&nbsp;{{ season.year }}</a>
                {% elif team %}
                    <a href="{% url 'sports:league' lower_league %}">{% clean_name team %}</a>
                {% elif league %}
                    <a href="{% url 'sports:index' %}">{{ league.name }}&nbsp;Teams</a> 
                {% else %}
                    <a href="{% url 'index' %}">Leagues</a>
                {% endif %}
            </p>

            <ul class="leagues-btn">
                {% for league in leagues %}
                    {% lower league.name as lower_league %}
                    <li><a href="{% url 'sports:league'  lower_league %}">{{ league.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="leagues">
            <ul class="grid">
                {% for league in leagues %}
                <li>
                    {% lower league.name as lower_league %}
                    <a href="{% url 'sports:league'  lower_league %}">{{ league.name }}</a>
                    <ul class="dropdown">
                        {% league_teams league as teams %}
                        {% for team in teams %}
                            {% lower team.name as lower_team %}
                            <li><a href="{% url 'sports:team' lower_league lower_team %}">{% clean_name team %}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>