{% extends "sports/base.html" %}
{% load sports_extra %}
{% block content %}
<section class="teams">
    <div class="current-site">
        {% lower league.name as lower_league %}

        <a href="{% url 'sports:index' %}">{{ league.name }}&nbsp;Teams</a>
    </div>
    <ul>
        {% lower league.name as lower_league %}
        {% for team in teams %}
            {% lower team.name as lower_team %}
            <li><a href="{% url 'sports:team' lower_league lower_team %}">{% clean_name team %}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}