{% extends "sports/base.html" %}
{% load sports_extra %}
{% block content %}

<section class="seasons">
    <div class="search">
        <label class="search-label" for="search">Search</label>
        <input type="text" class="search-bar" id="search">
    </div>
    <div class="current-site">
        {% lower league.name as lower_league %}
        {% lower team.name as lower_team %}

        <a href="{% url 'sports:league' lower_league %}">{% clean_name team %}</a>
    </div>
    <ul>
        {% lower league.name as lower_league %}
        {% lower team.name as lower_team %}
        {% for season in seasons %}
            <li><a href="{% url 'sports:season' lower_league lower_team season.year %}">{{ season.year }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}