html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: rgb(233, 239, 245);
}

.header-index ul {
  text-align: center;
  background-color: #104C91;
  height: 10vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-index div {
  text-align: right;
  font-size: 2.5rem;
  color: white;
  font-weight: normal;
  padding: 0 1vw 0 0;
}

.header-index img {
  height: 5.5vh;
}

section {
  padding: 4vh 7vw 0 7vw;
}

section .main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  list-style: none;
  border: 2px solid #104C91;
  border-radius: 10px;
  padding-inline-start: 0;
}

section .main .logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-inline-start: 0;
  justify-items: center;
  align-items: center;
}

section .main .description {
  font-size: 2rem;
  text-align: center;
}

section .main .description a {
  text-decoration: none;
  color: #104C91;
}

section .main .description a:hover {
  text-decoration: underline;
}

@media (max-width: 780px) {
  section .main {
    grid-template-columns: 1fr;
  }

  .header-index h1 {
    font-size: 2rem;
  }
}

@media (max-width: 475px) {
  section .main .logos {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 475px) {
  section .main .logos {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 250px) {
  section .main .logos {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}

@media (max-height: 300px) {
  .header-index ul {
    height: 20vh;
  }
}
