html {
  font-size: 10px;
}

section.leagues ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 10vw 0 10vw;
  font-size: 1.8rem;
  gap: 7vh 3vw;
  margin-top: 7.5vh;
  align-items: center;
}

section.leagues ul .league {
  border: 2px solid #104C91;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 145px 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100px;
}

section.leagues ul .league .message {
  padding: 0 1.5vw 0 1.5vw;
}

@media (max-width: 750px) {
  section.leagues ul {
    font-size: 1.5rem;
    grid-template-columns: 1fr;
  }

  section.leagues ul .league {
    grid-template-columns: 65px 1fr;
  }

  section.leagues ul .league:nth-child(1) img {
    height: 60px;
  }

  section.leagues ul .league:nth-child(2) img {
    height: 80px;
  }

  section.leagues ul .league:nth-child(3) img {
    width: 60px;
  }
  section.leagues ul .league:nth-child(4) img {
    height: 60px;
  }
}
