@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 750px) {
  nav.main {
    grid-template-columns: 125px 1fr 125px;
    grid-template-rows: 1fr;
    height: 10vh;
  }
  nav.main ul.home-btns li.home-btn {
    font-size: 3rem;
  }
  nav.main .home-btns li:nth-child(2) {
    display: none;
  }

  nav.main p.current-site a:first-child {
    display: none;
  }

  nav.main .checkbtn {
    display: block;
  }

  nav.main .side-checkbtn {
    display: inline-block;
  }

  nav.main ul.leagues-btn > li:first-child {
    display: block;
    margin: 4vh 0 0 3vw;
    font-size: 2rem;
    text-align: left;
  }

  nav.main ul.leagues-btn {
    display: block;
    text-align: left;
    grid-column: 1/4;
    grid: 2;
    background-color: rgb(154, 154, 212);
    z-index: -1;
    top: 10vh;
    height: 90vh;
    width: 100%;
    position: fixed;
    right: -100%;
    transition: 0.5s;
    font-size: 3rem;
  }
  nav.main ul.leagues-btn .mobile-menu {
    margin: 3vh 0 3vh 7vw;
    display: grid;
    grid-template-columns: 65px 1fr;
  }

  nav.main ul.leagues-btn .mobile-menu label {
    text-align: left;
  }

  nav.main ul.leagues-btn .mobile-menu a:hover {
    color: rgb(23, 23, 199);
    transition: 0.5s;
  }

  nav.main #check:checked ~ ul.leagues-btn {
    right: 0;
    position: absolute;
    top: 10vh;
  }

  nav.main .side-check:checked ~ .sidedrop {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.5rem;
    gap: 0 4vw;
    padding: 0;
  }
}
