@media (max-width: 750px) {
  nav.main {
    grid-template-columns: 125px 1fr 125px;
    grid-template-rows: 1fr;
    height: 10vh;
  }
  nav.main ul.home-btns li.home-btn {
    font-size: 2.5rem;
  }
  nav.main .home-btns li:nth-child(2) {
    display: none;
  }

  nav.main p.current-site a:first-child {
    display: none;
  }

  nav.main .checkbtn {
    display: block;
  }

  nav.main .side-checkbtn {
    display: inline-block;
  }

  nav.main ul.leagues-btn > li:first-child {
    display: block;
    margin: 4vh 0 0 3vw;
    font-size: 1.5rem;
    text-align: left;
  }

  nav.main ul.leagues-btn {
    display: block;
    text-align: left;
    grid-column: 1/4;
    grid: 2;
    background-color: rgb(154, 154, 212);
    z-index: -1;
    top: 10vh;
    height: 90vh;
    width: 100%;
    position: fixed;
    right: -100%;
    transition: 0.5s;
    font-size: 2.5rem;
  }
  nav.main ul.leagues-btn .mobile-menu {
    padding: 3vh 0 3vh 7vw;
    display: grid;
    grid-template-columns: 65px 1fr;
    background-color: rgb(154, 154, 212);
  }

  nav.main ul.leagues-btn .mobile-menu label {
    text-align: left;
  }

  nav.main ul.leagues-btn .mobile-menu a:hover {
    color: rgb(23, 23, 199);
    transition: 0.5s;
  }

  nav.main #check:checked ~ ul.leagues-btn {
    right: 0;
    position: absolute;
  }

  nav.main .side-check:checked ~ .sidedrop {
    display: block;
    list-style: none;
    font-size: 2rem;
  }

  nav.main .side-check:checked ~ .sidedrop li {
    padding: 2vh 0 2vh 5vw;
  }
}

@media (max-height: 500px) {
  nav.main {
    height: 15vh;
  }
}

@media (max-height: 300px) {
  nav.main {
    height: 20vh;
  }
  nav.main p.current-site img {
    height: 35px;
  }
}
@media (max-height: 230px) {
  nav.main {
    height: 30vh;
  }
}
@media (max-height: 160px) {
  nav.main {
    height: 40vh;
  }
}
