html {
  font-size: 10px;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
}

nav.main {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  background-color: #104c91;
  height: 10vh;
  align-items: center;
}

.nav-home-btns {
  display: grid;
  grid-template-rows: repeat(2, fr);
  margin: 0;
  padding: 0;
}

:is(.home-btn, .sports-btn) {
  list-style: none;
  font-size: 2rem;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  width: 70px;
  padding-left: 2.7vw;
  font-size: 2rem;
}

.sports-btn {
  width: 220px;
  padding-left: 2vw;
}

:is(.home-btn, .sports-btn) a {
  margin: 0;
  text-decoration: none;
  padding: 1rem;
  color: white;
}

:is(.home-btn, .sports-btn) a:hover {
  border: 1.5px solid #1f8ac0;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nav-current-site {
  display: inline-block;
  text-align: center;
  margin: 0;
}

.nav-current-site a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  vertical-align: middle;
}

.nav-current-site img {
  vertical-align: middle;
}

.checkbtn {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  text-align: right;
  padding-right: 5vw;
  display: none;
}

#check {
  display: none;
  background-color: rgb(22, 17, 78);
}

.nav-leagues-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
  text-align: center;
}

.mobile-sports-home {
  display: none;
}

.nav-leagues-btn a {
  text-decoration: none;
  color: white;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-league a:hover {
  border: 1.5px solid #1f8ac0;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.side-check {
  display: none;
}

.side-checkbtn {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  text-align: right;
  padding-right: 5vw;
  display: none;
}

nav.main .sidedrop {
  display: none;
}
