html {
  font-size: 10px;
}

body {
  margin: 0;
}

nav.main {
  display: grid;
  grid-template-columns: 275px 1fr 300px;
  background-color: rgb(22, 17, 78);
  height: 10vh;
  align-items: center;
  position: sticky;
}

nav.main ul.home-btns {
  display: grid;
  grid-template-rows: repeat(2, fr);
  padding-left: 2vw;
}

nav.main ul.home-btns li {
  list-style: none;
  font-size: 2.5rem;
}

nav.main ul.home-btns li a {
  margin: 0;
  text-decoration: none;
  color: white;
}

nav.main ul.home-btns li.home-btn {
  font-size: 2rem;
}

nav.main p.current-site {
  display: inline-block;
  text-align: center;
  margin: 0;
}

nav.main p.current-site img {
  height: 6vh;
  vertical-align: middle;
}

nav.main p.current-site a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  vertical-align: middle;
}
nav.main .checkbtn {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  text-align: right;
  padding-right: 5vw;
  display: none;
}

nav.main #check {
  display: none;
}

nav.main ul.leagues-btn {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
}

nav.main ul.leagues-btn > li:first-child {
  display: none;
}

nav.main ul.leagues-btn li a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
nav.main ul.leagues-btn li a:hover {
  color: rgb(178, 171, 221);
  transition: 0.2s;
}

nav.main .side-check {
  display: none;
}

nav.main .side-checkbtn {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  text-align: right;
  padding-right: 5vw;
  display: none;
}

nav.main .sidedrop {
  display: none;
}
