@media (max-width: 1250px) {
  nav.main p.current-site a {
    font-size: 2.5rem;
  }
}

@media (max-width: 1000px) {
  nav.main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10vh;
  }
  nav.main ul.home-btns li.home-btn {
    font-size: 2.5rem;
  }
  nav.main .home-btns li:nth-child(2) {
    display: none;
  }

  nav.main p.current-site a:first-child {
    display: none;
  }

  nav.main .checkbtn {
    display: block;
  }

  nav.main .side-checkbtn {
    display: inline-block;
  }

  nav.main ul.leagues-btn > li:first-child {
    display: block;
    margin: 4vh 0 0 3vw;
    font-size: 1.5rem;
    text-align: left;
  }

  nav.main ul.leagues-btn {
    display: block;
    text-align: left;
    grid-column: 1/4;
    grid: 2;
    background-color: #1f8ac0;
    z-index: -1;
    top: 10vh;
    height: 90vh;
    width: 100%;
    position: fixed;
    right: -100%;
    transition: 0.5s;
    font-size: 2.5rem;
  }
  nav.main ul.leagues-btn .mobile-menu {
    padding: 3vh 0 3vh 7vw;
    display: grid;
    grid-template-columns: 65px 1fr;
    background-color: #1f8ac0;
    column-gap: 2vw;
    align-items: flex-start;
  }

  nav.main ul.leagues-btn .mobile-menu > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }

  nav.main ul.leagues-btn .mobile-menu label {
    text-align: left;
  }

  nav.main i.fas.fa-angle-right {
    font-size: 28px;
    display: flex;
    align-items: flex-start;
  }

  nav.main ul.leagues-btn .mobile-menu li {
    display: block;
  }

  nav.main ul.leagues-btn a:hover {
    border: none;
    padding: 0;
  }

  nav.main ul.leagues-btn .mobile-menu > div a {
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  nav.main ul.leagues-btn .mobile-menu > div a:hover {
    border: 1.5px solid #104c91;
  }

  nav.main #check:checked ~ ul.leagues-btn {
    right: 0;
    position: absolute;
  }

  nav.main .side-check:checked ~ .sidedrop {
    display: block;
    list-style: none;
    font-size: 2rem;
  }

  nav.main .side-check:checked ~ .sidedrop li {
    padding: 2vh 0 2vh 5vw;
  }
  @media (max-height: 500px) {
    nav.main {
      height: 15vh;
    }

    nav.main ul.leagues-btn {
      top: 15vh;
    }
  }

  @media (max-height: 300px) {
    nav.main {
      height: 20vh;
    }
    nav.main p.current-site img {
      height: 35px;
    }
    nav.main ul.leagues-btn {
      top: 20vh;
    }
  }
  @media (max-height: 230px) {
    nav.main {
      height: 30vh;
    }
    nav.main ul.leagues-btn {
      top: 30vh;
    }
  }
  @media (max-height: 160px) {
    nav.main {
      height: 40vh;
    }
    nav.main ul.leagues-btn {
      top: 40vh;
    }
  }
}

@media (min-width: 1000px) {
  @media (max-height: 675px) {
    nav.main {
      height: 15vh;
    }
  }

  @media (max-height: 450px) {
    nav.main {
      height: 20vh;
    }
    nav.leagues .grid > li .dropdown li {
      height: 5.5vh;
    }
  }

  @media (max-height: 350px) {
    nav.main {
      height: 25vh;
    }
    nav.leagues .grid > li .dropdown li a:hover {
      padding: 0.2rem 1rem 0.2rem 1rem;
    }
  }

  @media (max-height: 275px) {
    nav.main {
      height: 30vh;
    }
    nav.leagues .grid > li .dropdown li {
      height: 4.5vh;
      font-size: 1.5rem;
    }
    nav.leagues .grid > li .dropdown li a:hover {
      padding: 0.05rem 1rem 0.05rem 1rem;
    }
  }
}
