.search {
  text-align: center;
  margin: 5vh 0 0 0;
}

.search-bar {
  width: 25vw;
  height: 2.2rem;
  vertical-align: middle;
  font: 2rem serif;
}
.search-label {
  text-align: center;
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.5vw;
}
