html {
  font-size: 10px;
}
section.seasons {
  margin-top: 0;
}

.season-years {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 3vh 2vw;
  list-style: none;
  padding: 0;
  padding: 2vh 7vw 0 7vw;
  margin: 0;
}

.season-year {
  display: flex;
  height: 7vh;
  align-items: center;
  justify-content: center;
  border: 0;
}

.season-year-link {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.season-year-link:hover {
  border: 1.5px solid #1f8ac0;
  border-radius: 1rem;
  padding: 1rem;
}

.season-year-link:active {
  border: 1.5px solid #1f8ac0;
}

@media (max-width: 750px) {
  .season-year-link {
    font-size: 2.5rem;
  }
}
@media (max-height: 500px) {
  .season-years {
    padding: 8vh 7vw 0 7vw;
    gap: 15vh 0vw;
  }
}
