html {
  font-size: 10px;
}
section.seasons {
  margin-top: 0;
}

section.seasons ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 3vh 2vw;
  list-style: none;
  padding: 0;
  padding: 2vh 7vw 0 7vw;
  margin: 0;
}

section.seasons ul li {
  display: flex;
  height: 7vh;
  align-items: center;
  justify-content: center;
  border: 0;
}

section.seasons ul a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
section.seasons ul a:hover {
  color: #104c91;
  text-decoration: underline;
  transition: 0.5s;
}

@media (max-width: 750px) {
  section.seasons ul a {
    font-size: 2.5rem;
  }
}
@media (max-height: 500px) {
  section.seasons ul {
    padding: 8vh 7vw 0 7vw;
    gap: 15vh 0vw;
  }
}
