html {
  font-size: 10px;
}

body {
  background-color: rgb(233, 239, 245);
  overflow-x: hidden;
  color: black;
}

.second-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0 10vw 0 10vw;
  background-color: #1f8ac0;
  position: sticky;
  top: 0;
}
.second-nav-league {
  text-align: center;
  padding: 1rem 0 1rem 0;
}
.second-nav-league > a {
  text-decoration: none;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.second-nav-league:hover {
  background-color: #104c91;
  transition: 0.3s;
}

.dropdown {
  display: grid;
  gap: 1.5vh;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  position: absolute;
  left: 7.5vw;
  width: 85vw;
  margin: 1rem 0 0 0;
  padding: 3vh 0 3vh 0;
  visibility: hidden;
  font-size: 2rem;
  background-color: rgb(233, 239, 245);

  border-bottom: 2px solid #1f8ac0;
  border-left: 2px solid #1f8ac0;
  border-right: 2px solid #1f8ac0;

  border-radius: 0 0 3rem 3rem;
}

.second-nav-league:hover .dropdown {
  visibility: visible;
  z-index: 1;
}

.dropdown-team {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
}

.dropdown-team a {
  text-decoration: none;
  color: black;
}

.second-nav-league .dropdown-team a:hover {
  border: 1.5px solid #1f8ac0;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
