html {
  font-size: 10px;
  margin: 0;
}
section.teams {
  margin-top: 0;
}

.league-teams {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style: none;
  padding: 3vh 7vw 0 7vw;
}

.league-team {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.league-team-link {
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.league-team-link:hover {
  border: 1.5px solid #1f8ac0;
  border-radius: 1rem;
  padding: 1rem;
}

.league-team-link:active {
  border: 1px solid #1f8ac0;
}

@media (max-width: 750px) {
  .league-team-link {
    font-size: 2.5rem;
  }
}

@media (max-width: 300px) {
  .league-teams {
    grid-template-columns: 1fr;
  }
  .league-team-link {
    font-size: 1.25rem;
  }
}

@media (max-height: 500px) {
  .league-teams {
    padding: 8vh 7vw 0 7vw;
    gap: 10vh 0vw;
  }
}
