<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eric Tao's Portfolio</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/new_favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/new_favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/new_favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/new_favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/new_favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <header>
            <ul>
                <div>Eric Tao's Portfolio</div>
                <img src="{% static 'img/new_logo.png' %}" alt="My Logo" height="50px">
            </ul>
        </header>
        <section>
            <ul class="main">
                <ul class="logos">
                    <a href="{% url 'sports:league' 'nhl' %}"><img src="{% static 'img/nhl_logo.png' %}" alt="NHL Logo" height="90px"></a>
                    <a href="{% url 'sports:league' 'nba' %}"><img src="{% static 'img/nba_logo.png' %}" alt="NBA Logo" height="100px"></a>
                    <a href="{% url 'sports:league' 'mlb' %}"><img src="{% static 'img/mlb_logo.png' %}" alt="MLB Logo" width="110px"></a>
                    <a href="{% url 'sports:league' 'nfl' %}"><img src="{% static 'img/nfl_logo.png' %}" alt="NFL Logo" height="90px"></a>
                </ul>
                <div class="description">Want the stats of your favourite teams? Download NHL, NBA, MLB and NFL stats in CSV, PDF, Excel or Json <a href="{% url 'sports:index' %}">here!</a></div>
            </ul>
        </section>  
    </body>
</html>